
*{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    height: calc(100vh - 80px);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none
    
    
}

body{
overflow-x: hidden;
background-color: white;
background-size: cover;
background-position: center center;
height: calc(100vh - 80px);
}
nav {
height: 80px;
width: 100%;
background-color:white
}

.bars{
height: 20px;
}

.enlace{
position: absolute;
padding: 20px 50px;
}


.logo1{
height: 30px;
}

nav ul{
float: right;
margin-right: 20px;
}

nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 20px;
}

nav  ul li a{
color: black;
font-size: 20px;
}

li a.active, li a:hover {
    background-color: rgba(137, 43, 226, 0.363);
    border-radius: 10px;
    transition: .5s;
}

.checkbtn{
    font-size: 20px;
    background-color: white;
    float: right;
    line-height: 80px;
    margin: 5px 10px;
    cursor: pointer;
    display: none;

}

#check{
display: none;
}

@media ( max-width: 952px) {
.enlace {
    padding-left: 20px;

}

nav ul li a{
    font-size: 16px;
}

}

@media ( max-width: 858px) {

    .checkbtn{
    display:block ;
    }
    ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: mediumorchid; 
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

nav ul li{
display: block;
margin: 50px 0;
line-height: 30px;
}

nav ul li a{
font-size: 20px;
}

li a:hover, li a:active{
background: none;
color: white;
}
#check:checked ~ ul {
    left: 0;
}
}



.fotocartas{
    height: 500px;
    width: 500px;
    position: relative;
    top: 5px;
    right: -122px;
}
.rectangulo1{
    background-color: #CD97e5;
    width: 96px;
    height: 6px;
    position: relative;
    top: -417px;
    left: 1060px;
}

.titulo1{
    font-size: 40px;
    position: relative;
    top: -402px;
    left: 827px;

}

.botoneditorial {
    width: 150px;
    height: 46px;
    letter-spacing: 1px;
    border: 3px solid #315dfd00;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: #cd97e5;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    top: -675px;
    left: 1000px;
  }
  
.botoneditorial:hover {
    background: #8782d4;
    color: white;
    font-size: 1.5em;
  }

.titulo2{
    font-size: 40px;
    position: relative;
    top: 120px;
    left: 94px;

}

.rectangulo2{
    background-color: #CD97e5;
    width: 96px;
    height: 6px;
    position: relative;
    top: 113px;
    left: 95px;
}

.diseño1{
    width: 550px;
    height: 250px;
    position: relative;
    top: -228px;
    right: -96px;
}

.diseño2{
    width: 550px;
    height: 250px;
    position: relative;
    top: -228px;
    right: -166px;
}

.botonrediseño{
    height: 51px;
    width: 170px;
    appearance: none;
    background-color: transparent;
    border: 0.125rem solid hsl(283, 84%, 76%);
    border-radius: 2.9375rem;
    box-sizing: border-box;
    letter-spacing: 5px;
    color: #c59df8;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 1.75rem;
    min-width: 0;
    outline: none;
    padding: 0.6em 1.3rem;
    text-align: center;
    transition: all 300s (cubic-bezier(0.23, 1, 0.32, 1));
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    position: relative;
    top: -518px;
    left: 124px;
}

.botonrediseño:disabled{
pointer-events: none;

}

.botonrediseño:hover{
color: #fff;
background-color: #f0b33b;
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
transform: translateY(-2px);
}

.botonrediseño:active{
    box-shadow: none;
    transform: translateY(0);
}

.botonlogofolio{
    height: 51px;
    width: 170px;
    appearance: none;
    background-color: transparent;
    border: 0.125rem solid hsl(283, 84%, 76%);
    border-radius: 2.9375rem;
    box-sizing: border-box;
    letter-spacing: 5px;
    color: #c59df8;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 1.75rem;
    min-width: 0;
    outline: none;
    padding: 0.6em 1.3rem;
    text-align: center;
    transition: all 300s (cubic-bezier(0.23, 1, 0.32, 1));
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    position: relative;
    top: -518px;
    left: 270px;
}

.botonlogofolio:disabled{
pointer-events: none;

}

.botonlogofolio:hover{
color: #fff;
background-color: #f0b33b;
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
transform: translateY(-2px);
}

.botonlogofolio:active{
    box-shadow: none;
    transform: translateY(0);
}

.botonsocialmedia{
    height: 51px;
    width: 201px;
    appearance: none;
    background-color: transparent;
    border: 0.125rem solid hsl(283, 84%, 76%);
    border-radius: 2.9375rem;
    box-sizing: border-box;
    letter-spacing: 5px;
    color: #c59df8;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 1.75rem;
    min-width: 0;
    outline: none;
    padding: -0.4em 1.3rem;
    text-align: center;
    transition: all 300s (cubic-bezier(0.23, 1, 0.32, 1));
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    position: relative;
    top: -515px;
    left: 392px;
}

.botonsocialmedia:disabled{
pointer-events: none;

}

.botonsocialmedia:hover{
color: #fff;
background-color: #f0b33b;
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
transform: translateY(-2px);
}

.botonsocialmedia:active{
    box-shadow: none;
    transform: translateY(0);
}

.categorias{
    height: 0;
    width: 700px;
}
.botonbranding{
    height: 51px;
    width: 170px;
    appearance: none;
    background-color: transparent;
    border: 0.125rem solid hsl(283, 84%, 76%);
    border-radius: 2.9375rem;
    box-sizing: border-box;
    letter-spacing: 5px;
    color: #c59df8;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 1.75rem;
    min-width: 0;
    outline: none;
    padding: 0.6em 1.3rem;
    text-align: center;
    transition: all 300s (cubic-bezier(0.23, 1, 0.32, 1));
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    position: relative;
    top: -564px;
    left: 1066px;
}

.botonbranding:disabled{
pointer-events: none;

}

.botonbranding:hover{
color: #fff;
background-color: #f0b33b;
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
transform: translateY(-2px);
}

.botonbranding:active{
    box-shadow: none;
    transform: translateY(0);
}

.footer{
    height: 51px;
    width: 170px;
    position: relative;
    top: 262px;
}

.footer2{
    height: 170px;
    width: 300px;
}

.backgroudmorado{
    background-color: #8782D4;
    height: 394px;
    width: 13459px;
    position: absolute;
    top: 809pxpx;
}

.rectangulo3{
    background-color: #ffffff;
    width: 182px;
    height: 7px;
    position: relative;
    top: 48px;
    left: 583px;
}

.gracias{
    width: 150px;
    height: 50px;
    color: white;
    font-size: 34px;
    position: relative;
    top: 60px;
    left: 579px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900px;
}

.titulogracias{
    position: relative;
    top: 929px;
    left: -119px;
}

.parrafo1{
    height: 200px;
    width: 700px;
    color: white;
    font-size: 34px;
    position: relative;
    top: 90px;
    left: 424px;
    letter-spacing: 4px;
}

.botones2{
    height: 100px;
    width: 700px;
}
.botonescribenos{
    height: 51px;
    width: 234px;
    appearance: none;
    background-color: transparent;
    border: 0.125rem solid hsl(0, 0%, 100%);
    border-radius: 2.9375rem;
    box-sizing: border-box;
    letter-spacing: 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75rem;
    min-width: 0;
    outline: none;
    padding: 1em 2.3rem;
    text-align: center;
    transition: all 300s (cubic-bezier(0.23, 1, 0.32, 1));
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    position: relative;
    top: 66px;
    left: 562px;
}

.botonescribenos:disabled{
pointer-events: none;

}

.botonescribenos:hover{
color: #fff;
background-color: #f0b33b;
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
transform: translateY(-2px);
}

.botonescribenos:active{
    box-shadow: none;
    transform: translateY(0);
}


.iconos img{
    height: 30px;
    width: 30px;
    padding: 3px;
    position: relative;
    top: 64px;
    left: 626px;
    
}

.iconos{
    height: 0;
    width: 700px;
}
.iconos img:disabled{
    pointer-events: none;
    
    }

.iconos img:hover{
    box-shadow: rgba(0, 0, 0, 0) 0 8px 15px;
    transform: translateY(-2px);
    }
    
    .iconos img:active{
        box-shadow: none;
        transform: translateY(0);
    }

.flechafinal{
    position: relative;
    top: 157px;
    left: 1039px;
    width: 50px;
    height: 49px

}
.flechafinal:disabled{
    pointer-events: none;
    
    }

.flechafinal:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    border-radius: 35px;
    transform: translateY(-2px);
    }
    
    .flechafinal:active{
        box-shadow: none;
        border-radius: 10px;
        transform: translateY(0);
    }








